 .mitema-navbar-top{
    background-color: $color__navigation !important;   
    margin-bottom: 20px;
    .navbar-light .navbar-toggler{
        color: $color__selfcouture-lila !important;
        
    }
}                                  
.mitema-navbar-primary{
    background-color: $color__navigation; 
    border-top: .1em #fff dashed;
    border-bottom: .1em #fff dashed; 
    display:flex;
    flex-direction: column; 
    align-items: center;
    
    #primary-menu{
        
        display: flex;
        padding-left: 0 !important;
          
        margin-bottom: 0;   
        
        
            .menu-item{
                list-style: none;
                margin: 0px 10px;
                height: 100%;
                a {
                       
                    color: #69f;
                    font-size: 1.1em;
                    text-decoration: none !important;
                    
                    &:active, &:focus, &:hover{
                        color: #036;
                    }
                }
                
            }
    }  
}
@media (max-width: 576px) {
    #primary-menu{
        flex-direction: column;
        font-size: 0.9em;
        text-align: center;
    }
     
  }
