


.entry-content {
	
	margin: auto ;
	
        background-color: white;
        
        
        
        
        
        
}





.site-main {
	margin: 0px;
        justify-content: center; 
        
        
        
      
        
}


    
   
        


.site-footer {
	clear: both;
	width: 100%;
        
}

