
.custom-content-area
{
    width: 80%;
padding: 0px 40px; 
justify-content: center;
.site-main {
	  
        justify-content: center; 
        
         margin-top:20px;
        
.title_cat 
{}
      
        
}}
    
