
   
.widget-container-right
    { 
        height: auto;
      
    background-color: white;
    flex-direction: column;   
    height: auto;
   
    h2 
    {
        
        margin-top:5px; 
        text-align: center;
    }  
    ul {
        background: transparent;
        margin: 0px;
        padding-left: 0px;
        list-style-type: none;
        li:before 
            {
            display:none;
            }
        
        }
    .decoration-widtget-area
    {
        padding: 10px;
        margin: 5px; 
    } 
    .cible-ateliers h2 
        {margin:0px;}
    h2
    {
        color:  #6699FF ;
        text-align: center;
        margin-bottom: 5px;
        font-size: 20px;
    }
    .widget_search{ width:100%;
                    input{
                            width: 80%;
                            font-size: 0.8em;
                            margin-bottom: 5px;
                            padding-top: 5px;
                            text-align:  center;
                          }
                    button
                    {
                    width: 80%;
                    }
       
                   }
    #pdf-aside
    {
    padding-top: 10px;
        .container-item-pdf-embet
        {   padding: 20px 10px;
            
            
            display:flex; 
            flex-direction: column;
            align-items: center;
            .pdfemb-wantmobile-fsarea
                {
                    font-size: 10px;
                    max-height:70px;
                    border:1px solid;
                }
            }
         
    }              
    .zaps-container
    {   
    
        .zap-content
            { padding: 0px ;
              width: 100%;
             
                .vimeos-videos 
                { 
                   
                        .liste-video{padding-bottom: 10px;}
                        
                                            
                    
                }
                
            }
    }
    
    }
    @media screen and (max-width: 1050px){
    
    .zaps-container
    {width: 100%;
    display: flex;
             justify-content: center;
             padding-top:0px;
    
    
    
        .zap-content
        
            {
                padding-bottom: 10px;
             
             
            }
    }
                .widget-area-right

        {text-align: center;
        margin-top: 0px;
         
        }}
       
