

.vimeos-videos {
    
    ul .liste-video{list-style: none;}}
@media screen and (max-width: 1050px)
{
      .widget-container-right
          {
           
          position: initial;
          top: 0px;
          margin: 0px;
          padding: 0px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .costomaside {
                align-items: center;
                justify-content: center;
                        }
          
            .widget-area
             {  width: 300px;}
          }
          
}
